
<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h1 class="text-white text-center">About this blog</h1>
        <div class="p-5 mb-4 bg-theme-secondary text-theme-primary">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita corporis voluptatem ullam aliquid! Quae, eos voluptatum. Facilis sed nisi quia repudiandae eveniet suscipit sint, reprehenderit nam velit eos quo error?</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita corporis voluptatem ullam aliquid! Quae, eos voluptatum. Facilis sed nisi quia repudiandae eveniet suscipit sint, reprehenderit nam velit eos quo error?</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita corporis voluptatem ullam aliquid! Quae, eos voluptatum. Facilis sed nisi quia repudiandae eveniet suscipit sint, reprehenderit nam velit eos quo error?</p>

            <div class="text-center">
                <button class="btn btn-info btn-sm mt-4 btn-theme">Back to Home</button>
            </div>
        </div>
    </div>
</section>