
p{
    color: var(--primary);
}

.app-body{
    min-height: 60vh;
    margin-top: 160px;
    width: 100vw;
    padding: 0;
    /* max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}



.min-width{
    min-width: 500px;
}

@media (min-width: 501px){
    .min-width{
        width: 100vw;
    }
}

/* .margin-regulator{
    width: 200vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

/* @media (max-width: 500px){
    .margin-regulator{
        margin-left: 10%;
    }
}

@media (max-width: 400px){
    .margin-regulator{
        margin-left: 20%;
    }
} */