.card{
    border: none;
}

.min-width{
    min-width: 500px;
}

.similar-posts-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}