<footer>

    <div class="container min-width">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="logo">AYUSH DHAWAN</div>
                <div>
                    <ul class="nav justify-content-center">
                        <li routerLink="/" class="nav-item"><a href="" class="nav-link">Home</a></li>
                        <!-- <li class="nav-item"><a href="" class="nav-link">About</a></li> -->
                        <!-- <li class="nav-item"><a href="" class="nav-link">Terms & Conditions</a></li> -->
                        <li class="nav-item"><a href="https://www.linkedin.com/in/ayush-dhawan-733b34253/" target="_blank" class="nav-link">Contact</a></li>
                    </ul>
                </div>
                <p class="mb-2 mt-2">Copyright &copy; 2024 Ayush's Blog</p>
            </div>
        </div>
    </div>

</footer>