footer{
    height: 130px;
    padding: 15px;
    background-color: var(--navbar-footer-color);
    /* margin-top: 65vh; */
}
.min-width{
    min-width: 500px;
}
.logo{
    font-size: 1.2em;
}

.nav-link{
    color: var(--primary-color);
}